body{
    background-color:rgb(66, 32, 32);
    font-family: Arial, Helvetica, sans-serif ;
    color: rgb(247, 247, 247);
}

h1{
    text-align: center;
}

button {
    border: none;
    outline: none;
    height: 40px;
    background: rgb(189, 59, 8);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }